// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@import "./tailwind.css"; // This is importing our local Tailwind CSS file

@layer base {
  html {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);

    @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: mat.$azure-palette,
          tertiary: mat.$red-palette,
        ),
        typography: Roboto,
        density: 0,
      ),
      $overrides: (
        // Custom background and foreground colors
        surface: var(--color-slate-50),
        on-surface: var(--color-slate-900)
      )
    );
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
  }

  // ----------------------------------
  // Make Angular Material and Tailwind play nice

  .mat-mdc-form-field
  .mat-mdc-form-field
  .mat-mdc-form-field
  .mat-mdc-form-field
  .mat-mdc-form-field
  .mdc-notched-outline__notch {
    border-right-style: hidden;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    padding: 0;
    border: none;
  }

  // ----------------------------------
}