@if(product()){
<mat-card appearance="raised" class="h-full">
  <img [src]="product().pictureUrl" alt="" class="rounded-t-2xl"/>
  <mat-card-content class="mt-2">
    <h2 class="text-sm font-semibold uppercase">{{ product().name }}</h2>
    <p class="font-light">{{ product().price | currency : 'TWD' : 'symbol' : '0.0-0' }}元</p>
  </mat-card-content>
  <mat-card-actions class="flex flex-col align-bottom items-baseline">
    <button mat-stroked-button class="w-full">
      <mat-icon class="font-bold">add_shopping_cart</mat-icon>
      <span class="text-sm text-nowrap">加到購物車</span>
    </button>
  </mat-card-actions>
</mat-card>
}
